[submodule "fortivo-website"]
	path = fortivo-website
	url = https://github.com/itsgerliz/fortivo-website.git
	branch = dev
[submodule "fortivo-engine"]
	path = fortivo-engine
	url = https://github.com/itsgerliz/fortivo-engine.git
	branch = dev
[submodule "html-includer"]
	path = html-includer
	url = https://github.com/itsgerliz/html-includer.git
	branch = dev
